<mat-card >
    <div class="grid mb-5">
        <div class="col-12">
            <mat-toolbar color="primary">
                <span *ngIf="!isEditMode">Ajouter un utilisateur</span>
                <span *ngIf="isEditMode">Editer un utilisateur</span>
                <span class="button-spacer"></span>
                <button mat-raised-button *ngIf="isEditMode" color="accent" class="form-button" aria-label="Add user" (click)="onSubmit()">
                    Modifier <mat-icon>update</mat-icon>
                </button>
                <button mat-raised-button *ngIf="!isEditMode" color="accent" class="form-button" aria-label="Add user" (click)="onSubmit()">
                    Créer<mat-icon>plus_one</mat-icon> 
                </button>
                <button mat-raised-button color="accent" class="form-button" aria-label="Go back" (click)="onCancel()">
                    <mat-icon>undo</mat-icon>
                </button>
              </mat-toolbar>
        </div>
    </div>
</mat-card>
<div class="grid mb-5">
    <div class="col-12">
        <form [formGroup]="form" class="form">
            <mat-form-field appearance="fill">
                <mat-label>Nom</mat-label>
                <input matInput type="text" formControlName="name" placeholder="Ex. Alain Dupont">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email" placeholder="Ex. pat@example.com">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Mot de passe</mat-label>
                <input matInput type="password" formControlName="password">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Téléphone</mat-label>
                <input matInput type="tel" formControlName="phone">
            </mat-form-field>
            <div class="admin-label-div">
                <mat-label class="admin-label">Administrateur</mat-label>
                <mat-slide-toggle formControlName="isAdmin"></mat-slide-toggle>
            </div>
            <mat-form-field appearance="fill">
                <mat-label>Adresse</mat-label>
                <input matInput type="text" formControlName="street" placeholder="Ex. 123, rue bidon">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Appartement</mat-label>
                <input matInput type="text" formControlName="apartment" placeholder="Ex. 123">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Code postal</mat-label>
                <input matInput type="text" formControlName="zip" placeholder="Ex. 75000">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Ville</mat-label>
                <input matInput type="text"formControlName="city" placeholder="Ex. Paris">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Sélectionner un pays</mat-label>
                <mat-select formControlName="country">
                <mat-option *ngFor="let country of countries" [value]="country.value" >
                    {{country.viewValue}}
                </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </div>
</div>