        
<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->
<div *ngIf="!isLoggedIn">
    <form class="d-flex" name="form">
        <input type="email" class="form-control form-control-sm me-2" name="email" [(ngModel)]="form.email" required #email="ngModel" placeholder="Email">
        <input type="password" class="form-control form-control-sm me-2" name="password" [(ngModel)]="form.password" required #password="ngModel" placeholder="Mot de passe">
        <button mat-raised-button color="accent" class="form-button" aria-label="Se connecter" (click)="onSubmit()">
            <mat-icon>forward</mat-icon>
        </button>
</form>
</div>

<div [matMenuTriggerFor]="profile" class="header-profile d-flex flex-row align-items-center">
    <div *ngIf="isLoggedIn" class="d-flex">
        <span class="header-name m-r-10 d-flex flex-column align-self-center" *ngIf="isLoggedIn">{{this.user}}</span>
        <button mat-icon-button class="m-r-5"> <img src="assets/images/users/1.jpg" alt="user" class="profile-pic"> </button>
    </div>

    <mat-menu #profile="matMenu" class="mymegamenu">
        <div *ngIf="isLoggedIn">
            <button mat-menu-item>
                <mat-icon>settings</mat-icon> Settings </button>
            <button mat-menu-item>
                <mat-icon>account_box</mat-icon> Profile </button>
            <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon> Disable notifications </button>
            <button mat-menu-item (click)="logOut()">
                <mat-icon>exit_to_app</mat-icon> Sign Out </button>
        </div>         
    </mat-menu>
</div>

