<h3 class="inner-tittle">Modifier un administrateur</h3>
<div class="graph-form">

    <form method="post" action="" enctype="multipart/form-data">
        <div class="col-md-6">
            <div class="form-group">
                <label for="nom">Nom</label>
                <input type="text" class="form-control" id="nom" name="nom" placeholder="Nom" value="" required>
            </div>

            <div class="form-group">
                <label for="prenom">Prénom</label>
                <input type="text" class="form-control" id="prenom" name="prenom" placeholder="Prénom" value=""
                    required>
            </div>

            <div class="form-group">
                <label for="tel">Tel</label>
                <input type="tel" class="form-control" id="tel" name="tel" placeholder="Tel" value="" required>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email" value="" readonly>
            </div>

            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" class="form-control" id="password" name="password"
                    placeholder="8caractères dont 1 majuscule et 1 caractère spécial min"
                    pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" value="" required>
            </div>

            <input type="hidden" class="form-control" id="tupeUser" name="typeUser" placeholder="nom" value="1"
                required>

        </div>
        <div class="col-md-6">


        </div>
        <div class="clearfix"></div>
        <input type="hidden" name="id" value="" />
        <input type="hidden" name="MM_update" value="form1" />
        <button type="submit" class="btn btn-default">Valider les modifications</button>
    </form>
    <button routerLink="/users" class="btn btn-warning">Retour à la liste</button>

</div>