
.map-container {
    height: 400px;
  }

.marker{
    background-color: #ff0000;
    width: 5rem;
    height: 10rem;
    z-index: 1000;
    position: absolute;
    left: 0;
    top: 0;
}

#map{
    position: relative;
}

/* .map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 30px;
} */

/* .map-frame {
    border: 2px solid black;
    height: 100%;
}

#map {
    height: 100%;
} */